<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @word.word %>
</p>

<p>
  <b>Sentence:</b>
  <%= @word.sentence_id %>
</p>

<p>
  <b>Document:</b>
  <%= @word.document_id %>
</p>


<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
